<h4 class="text-center">Editar orden de servicios</h4>
<form action="" autocomplete="off" [formGroup]="editarOrden" (ngSubmit)="onSubmit()" class="main">
  <div class="container">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title><strong>Información de la orden</strong></mat-panel-title>
          <mat-panel-description>{{panelOpenState ? 'Cerrar' : 'Click para desplegar'}}</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
          <div class="row">
            <div class="col-md-2 offset-md-10 text-center">
              <label for="Nro de orden">NÚMERO DE ORDEN</label>
              <input matInput  formControlName="nroOrden" readonly id="nroOrden" class="text-center" readonly>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <input matInput formControlName="empresaSolicitante" readonly>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Nit" formControlName="nitSolicitante" readonly>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Ciudad" formControlName="ciudadSolicitante" readonly>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Teléfono" formControlName="telSolicitante" readonly>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Dirección" formControlName="direccionSolicitante" readonly>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Contacto" formControlName="contactoSolicitante" readonly>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Email" formControlName="emailSolicitante" readonly>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <input matInput placeholder="Unidad de negocios" formControlName="unidadNegocios" readonly>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="Responsable" formControlName="nombreCECO" readonly>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="Número CECO" formControlName="numeroCECO" readonly>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="Porcentaje asumido" formControlName="porcentajeAsumido" type="number">
              </mat-form-field>
              <mat-error>
              </mat-error>
            </div>
          </div>
          <br>
          <h5 class="text-center">Datos del proveedor</h5>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <input matInput placeholder="Razón social" formControlName="razonSocial">
              </mat-form-field>
              <mat-error>
                  <span *ngIf="!editarOrden.get('razonSocial').valid && editarOrden.get('razonSocial').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
              </mat-error>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="C.C/Nit" formControlName="nitProveedor">
              </mat-form-field>
              <mat-error>
                  <span *ngIf="!editarOrden.get('nitProveedor').valid && editarOrden.get('nitProveedor').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
              </mat-error>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Ciudad" formControlName="ciudadProveedor">
              </mat-form-field>
              <mat-error>
                  <span *ngIf="!editarOrden.get('ciudadProveedor').valid && editarOrden.get('ciudadProveedor').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
              </mat-error>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Teléfono" formControlName="telProveedor">
              </mat-form-field>
              <mat-error>
                  <span *ngIf="!editarOrden.get('telProveedor').valid && editarOrden.get('telProveedor').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
              </mat-error>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Dirección" formControlName="direccionProveedor">
              </mat-form-field>
              <mat-error>
                  <span *ngIf="!editarOrden.get('direccionProveedor').valid && editarOrden.get('direccionProveedor').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
              </mat-error>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <input matInput placeholder="Contacto" formControlName="contactoProveedor">
              </mat-form-field>
              <mat-error>
                  <span *ngIf="!editarOrden.get('contactoProveedor').valid && editarOrden.get('contactoProveedor').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
              </mat-error>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <label for="Regimen" id="regimen">Regimen</label>
              <mat-radio-group formControlName="regimen">
              <mat-radio-button value="Común">Común</mat-radio-button>
              <mat-radio-button value="Simplificado">Simplificado</mat-radio-button>
            </mat-radio-group>
            <mat-error>
                <span *ngIf="!editarOrden.get('regimen').valid && editarOrden.get('regimen').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
            </mat-error>
            </div>
            <div class="col-md-6">
              <section class="example-section">
                <mat-checkbox class="example-margin" value="true" formControlName="rut">RUT</mat-checkbox>
                <mat-checkbox class="example-margin" value="true" formControlName="camara">Cámara de comercio</mat-checkbox>
              </section>
            </div>
          </div>
          <br>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label for="Descripción general del servicio">Descripción general del servicio</label>
                      <textarea class="form-control" rows="3" formControlName="descripcionServicios"></textarea>
                      <mat-error>
                          <span *ngIf="!editarOrden.get('descripcionServicios').valid && editarOrden.get('descripcionServicios').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                      </mat-error>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <input matInput placeholder="Cliente" formControlName="cliente">
                </mat-form-field>
                <!-- <mat-error>
                    <span *ngIf="!editarOrden.get('cliente').valid && editarOrden.get('cliente').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                </mat-error> -->
              </div>
              <div class="col-md-6">
                <mat-form-field>
                  <input matInput placeholder="Nro Job" formControlName="job">
                </mat-form-field>
                <!-- <mat-error>
                    <span *ngIf="!editarOrden.get('job').valid && editarOrden.get('job').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                </mat-error> -->
              </div>
            </div>
            <br>
            <h5 class="text-center">Información económica</h5>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Precio" currencyMask
                  [options]="{ prefix: ' ', thousands: '.', decimal: ',', align: 'left' , allowNegative: false, precision: 0 }" formControlName="precio" (keyup)="changePrecio($event)">
                </mat-form-field>
                <mat-error>
                    <span *ngIf="!editarOrden.get('precio').valid && editarOrden.get('precio').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                </mat-error>
              </div>
              <div class="col-md-1">
                <section class="iva">
                  <mat-checkbox value="true" formControlName="tieneIva" (change)="changeIva($event)">IVA</mat-checkbox>
                </section>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                    <input matInput currencyMask [options]="{ prefix: ' ', thousands: '.', decimal: ',', align: 'left' , allowNegative: false, precision: 0 }" formControlName="iva" readonly>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Total" currencyMask
                  [options]="{ prefix: ' ', thousands: '.', decimal: ',', align: 'left' , allowNegative: false, precision: 0 }" formControlName="total" readonly>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field>
                  <input matInput placeholder="Valor en letras" formControlName="valorLetras">
                </mat-form-field>
                <mat-error>
                    <span *ngIf="!editarOrden.get('valorLetras').valid && editarOrden.get('valorLetras').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                </mat-error>
              </div>
            </div>
            <br>
            <h5 class="text-center">Plazo de ejecución</h5>
            <div class="row">
              <div class="col-md-4">
                  <mat-form-field>
                      <input matInput [matDatepicker]="picker" placeholder="Fecha de inicio" formControlName="fechaInicio">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                <mat-error>
                    <span *ngIf="!editarOrden.get('fechaInicio').valid && editarOrden.get('fechaInicio').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                </mat-error>
              </div>
              <div class="col-md-4">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker2" placeholder="Fecha final" formControlName="fechaFinal" (change)="changeFecha()">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                <mat-error>
                  <span
                    *ngIf="!editarOrden.get('fechaFinal').valid && editarOrden.get('fechaFinal').touched"><small
                      class="form-text">Este campo debe estar diligenciado</small></span>
                </mat-error>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Total días del contrato" formControlName="totalDias" (click)="changeFecha()">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!editarOrden.get('totalDias').valid && editarOrden.get('totalDias').touched"><small
                      class="form-text">Este campo debe estar diligenciado</small></span>
                </mat-error>
              </div>
            </div>
            <br>
            <h5 class="text-center">Forma de pago</h5>
            <br>
            <div class="row">
              <div class="col-md-4 offset-4 text-center">
                <mat-radio-group formControlName="formaPago" (change)="formaPago($event)">
                  <mat-radio-button value="Único">Único</mat-radio-button>
                  <mat-radio-button value="Varios">Varios</mat-radio-button>
                </mat-radio-group>
                <mat-error>
                  <span *ngIf="!editarOrden.get('formaPago').valid && editarOrden.get('formaPago').touched"><small
                      class="form-text">Este campo debe estar diligenciado</small></span>
                </mat-error>
              </div>
            </div>
            <ng-container *ngIf="pagoUnico">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker3" placeholder="Fecha de pago" formControlName="fechaPago">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="pagoVarios">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker4" placeholder="Fecha de pago 1" formControlName="Pago1">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker5" placeholder="Fecha de pago 2" formControlName="Pago2">
                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                    <mat-datepicker #picker5></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker6" placeholder="Fecha de pago 3" formControlName="Pago3">
                    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                    <mat-datepicker #picker6></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker7" placeholder="Fecha de pago 4" formControlName="Pago4">
                    <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                    <mat-datepicker #picker7></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker8" placeholder="Fecha de pago 5" formControlName="Pago5">
                    <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                    <mat-datepicker #picker8></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker9" placeholder="Fecha de pago 6" formControlName="Pago6">
                    <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                    <mat-datepicker #picker9></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
            <br>
            <ng-container id="contenedorTable">
                <div class="row">
                  <div class="col-md-3">
                      <mat-form-field>
                          <mat-label>CECO</mat-label>
                          <mat-select formControlName="ceco1" (selectionChange)="changeCecoPorcentaje($event)">
                              <mat-option *ngFor="let ceco of areas" [value]="ceco">
                                {{ceco.nombre}}                        
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <input matInput placeholder="Nro Ceco" formControlName="numeroCecoPorcentaje">
                    </mat-form-field>
                  </div>
                
                  <div class="col-md-3">
                    <mat-form-field>
                      <input matInput placeholder="Porcentaje de distribución" formControlName="porcentajeCeco1" type="number">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <button class="btn btn-primary btn-block" type="button" (click)="agregarCecos()">Agregar</button>
                  </div>
                </div>
                <br>
                <table class="table table-bordered">
                    <thead>
                        <tr class="cabezeraTblUnidadNegocio">
                          <th scope="col">Nombre</th>
                          <th scope="col">Nro CECO</th>
                          <th scope="col">Porcentaje</th>
                          <th scope="col">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let ceco of arrayCecos; let i = index">
                          <td>{{ceco.ceco}}</td>
                          <td>{{ceco.nroCeco}}</td>
                          <td>{{ceco.porcentaje}}</td>
                          <td><button type="button" class="btn btn-danger" (click)="borrarCecos(i)">Borrar</button></td>
                        </tr>
                      </tbody>
                </table>
              </ng-container>
            <hr>
            <ng-container *ngIf="esConsultores">
            <div class="row">
              <div class="col-md-12">
                <h6 class="text-center">
                    NOTA: Toda factura será cancelada 30 días a partir de la fecha de radicación en la oficina de ARAUJO IBARRA CONSULTORES INTERNACIONALES S.A.S y debe contener el numero de orden de servicios indicado en la parte superior.
                </h6>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="esAsociados">
            <div class="row">
              <div class="col-md-12">
                <h6 class="text-center">
                    NOTA: Toda factura será cancelada 30 días a partir de la fecha de radicación en la oficina de ARAUJO IBARRA ASOCIADOS S.A.S y debe contener el numero de orden de servicios indicado en la parte superior.
                </h6>
              </div>
            </div>
          </ng-container>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState1 = true"  (closed)="panelOpenState1 = false">
        <mat-expansion-panel-header>
          <mat-panel-title><strong>Hitos de pago (radicación de facturas)</strong></mat-panel-title>
          <mat-panel-description>{{panelOpenState1 ? 'Cerrar' : 'Click para desplegar'}}</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
          <h6 class="text-center">CALCULO DE PAGO PARA CUMPLIMIENTO DE PAGOS A LA SEGURIDAD SOCIAL Y PENSIONES (solo personas naturales)</h6>
          <br>
          <div class="row">
            <div class="col-md-4 offset-4" >
              <label for="Regimen" id="regimen">GARANTÍAS Y SEGUROS</label>
                <mat-radio-group formControlName="garantia" (change)="garantiaChange($event)">
                  <mat-radio-button value="true">Sí</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
            <br>
            <ng-container *ngIf="garantia">
            <div class="row">
              <div class="col-md-6">
                <h6 class="text-center"><b>Cumplimiento</b></h6>
                <p><input type="text" class="text-center inputp" formControlName="porcentajeCumplimiento"> % del valor del contrato, válido por la duración del mismo y  <input type="text" class="text-center inputp" formControlName="mesesCumplimiento"> meses adicionales</p>
              </div>
              <div class="col-md-6">
                <h6 class="text-center"><b>Manejo de anticipos</b></h6>
                <p><input type="text" class="text-center inputp" formControlName="porcentajeAnticipos">% del valor del anticipo, válido por la duración del contrato y  <input type="text" class="text-center inputp" formControlName="mesesAnticipos"> meses adicionales</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6 class="text-center"><b>Pago de salarios</b></h6>
                <p><input type="text" class="text-center inputp" formControlName="porcentajeSalarios">% del valor del contrato, válido por la duración del mismo y  <input type="text" class="text-center inputp" formControlName="mesesSalarios"> años adicionales</p>
              </div>
              <div class="col-md-6">
                <h6 class="text-center"><b>Responsabilidad civil extracontractual</b></h6>
                <p><input type="text" class="text-center inputp" formControlName="porcentajeResponsabilidad">% del valor del contrato, válido por la duración del contrato</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6 class="text-center"><b>Calidad del servicio</b></h6>
                <p><input type="text" class="text-center inputp" formControlName="porcentajeCalidad">% del valor del contrato, válido por <input type="text" class="text-center inputp" formControlName="mesesCalidad1"> meses a partir de la finalización del contrato y <input type="text" class="text-center inputp" formControlName="mesesCalidad2"> meses más</p>
              </div>
              <div class="col-md-6">
                <h6 class="text-center"><b>Otros</b></h6>
                <label for="Regimen" id="regimen">Póliza colectiva de vida y accidentes</label>
                <mat-radio-group formControlName="polizaVida">
                <mat-radio-button value="true">Sí</mat-radio-button>
                <mat-radio-button value="false">No</mat-radio-button>
              </mat-radio-group>
              <label for="Regimen" id="regimen">Póliza de vehículos</label>
              <mat-radio-group formControlName="polizaVehiculos">
                <mat-radio-button value="true">Sí</mat-radio-button>
                <mat-radio-button value="false">No</mat-radio-button>
              </mat-radio-group>
              </div>
            </div>
          </ng-container>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <button type="submit" class="btn btn-success btn-lg">Guardar orden</button>
    <button type="button" class="btn btn-danger btn-lg" (click)="cancelar()">Cancelar</button>
  </div>
</form>

  <ngx-spinner
  bdOpacity = 0.9
  bdColor = "rgba(33,31,31,0.64)"
  size = "large"
  color = "#fff"
  type = "pacman"
  [fullScreen] = "true">
  <p style="color: white" > No des otro click! Ya está procesando... </p>
  </ngx-spinner>