<!--The content below is only a placeholder and can be replaced.-->
<header>
    <div class="zona-usuario-logueado">
        <div class="usuario text-right">
            <span class="text-bienvenida">Bienvenido <b>{{nombreUsuario}}</b></span>
        </div>
    </div>
</header>
<br>
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card">
            <div class="card-header text-center"><h3>Orden de servicios</h3></div>
            <div class="card-body">
                <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            Generar Orden
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            Aprobar orden
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            Consultar
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<app-orden-servicios></app-orden-servicios>

<router-outlet></router-outlet>
